* {
    margin: 0;
    padding: 0;
}

BODY {
    background: #C5EDEB;
}

.cloud {
    border: 50px black solid;
    border-radius: 50px;
    height: 50px;
    border-top-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #BAD3D2;
    border-right-color: #BAD3D2;
}