

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 560px) {

	/* main menu button normal state*/

	.navbar-toggle.collapsed{
		display: block;
		position: absolute;

		right: 5px;
		border: 2px solid #fff;
		border-radius: 0;
	}
	.navbar-toggle.collapsed span:nth-child(3){ visibility: visible;}
	.navbar-toggle.collapsed span:nth-child(2){
		top: 0;
		transform: rotate(0);
	}
	.navbar-toggle.collapsed span:last-child{
		top: 0;
		transform: rotate(0);
	}

	.navbar-toggle .icon-bar{
		background: #333;
		position: relative;
		transition: all 0.2s ease-in-out;
	}
	
	.navbar-toggle{
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		border: 1px solid #333;
		border-radius: 0;
	}
	
	.navbar-toggle span:nth-child(3){
		visibility: hidden;
	}
	.navbar-toggle span:nth-child(2){
		top: 6px;
		transform: rotate(45deg);
	}
	.navbar-toggle span:last-child{
		top: -6px;
		transform: rotate(-45deg);
	}

	.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover{ background-color: transparent; }
	.navbar .navbar-toggle .icon-bar{
		background-color: #fff;
		border-radius: 0;
		position: relative;
	}
	.navbar-header{margin-left: -30px !important}
	/*opened menu*/
	.navbar-collapse{display: none;}
	.navbar .navbar-toggle.collapsed .icon-bar:nth-child(3){visibility: visible;}
	.navbar .navbar-toggle .icon-bar:nth-child(3){visibility: hidden;}
	.navbar .navbar-toggle .icon-bar:nth-child(2){
		top: 7px;
		-webkit-transform: rotate(50deg);
		-ms-transform: rotate(50deg);
		-o-transform: rotate(50deg);
		transform: rotate(50deg);
	}
	.navbar .navbar-toggle.collapsed .icon-bar:nth-child(2){
		top: -2px;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.navbar .navbar-toggle .icon-bar:last-child{
		top: -5px;
		-webkit-transform: rotate(-50deg);
		-ms-transform: rotate(-50deg);
		-o-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
	.navbar .navbar-toggle.collapsed .icon-bar:last-child{
		top: 2px;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.navbar .navbar-toggle .icon-bar:nth-child(2),
	.navbar .navbar-toggle .icon-bar:last-child{
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	/* showing hidding content of navbar */
	.navbar-form, .menu-top-categories{
		position: relative;
		z-index: 9;
	}
	.navbar-form{
		padding: 10px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
		border: 1px solid #ececec;
	}
	.navbar-form button{
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.menu-top-categories ul{
		width: 100%;
		margin-bottom: 20px;
	}
	.menu-top-categories li{
		float: none;
		margin-right: -5px;
	}
	.menu-top-categories h6{
		width: 100%;
		padding: 15px 0;
		text-align: center;
	}
	.menu-category a{
		padding: 0;
	    line-height: 1.5;
	    margin: 0;
	    width: 54px;
	    border-top: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
	}

	/* main menu button (fixed navbar) normal state*/
	.navbar-fixed .navbar-toggle{
		border-color: #333;
		top: 5px;
	}
	.navbar-fixed .navbar-toggle .icon-bar{ background-color: #333; }
	.navbar-fixed .navbar-header{margin-left: -10px !important}

	/* main menu */
	.navbar-collapse{
		position: relative;
		margin-right: -330px;
		max-height: 1000px !important;
		height: 900px;
		background: #fff;
		border-top: 2px solid #333;
		margin-top: 10px;
		z-index: 9;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.navbar-nav{margin-top: 0}
	.navbar-collapse.pull-right,
	.navbar-nav.pull-right{
		float: none !important; /* removing float right*/
		width: 100%;
		height: 100%;
		overflow: scroll;
	} 
	.navbar-nav a{
		line-height: 3.6 !important;
	}
	.navbar .addPlace a{
		background: #f4f400;
		padding-left: 15px !important;
	}
	.navbar-nav>li>.dropdown-menu{
		background-color: #f4f400 !important;
		margin: 0 20px;
	}

	/* first-page header */
	.front-page-intro {
		height: auto !important;
		top: 30%;
	}
	.front-page-intro h2{
		letter-spacing: 1px;
		display: block;
	}
	.front-page-intro h2:after, .front-page-intro h2:before{width: 35%}
	.top-tag-line li:first-child i.fa{margin-right: 3px}
	.top-tag-line li:last-child i.fa{margin-left: 3px}
	.top-tag-line b{letter-spacing: 2px;}
	.front-page-intro button.btn{top: 10px}
	.front-page-intro .small-text:last-of-type{background-size: 25%}
	.front-page-intro .front-top-categories{
		max-width: 315px;
		width: 100%;
		margin: 0 auto;
		display: flex;
	}
	.front-top-categories a{padding: 7px 13px;}
	.about-description h2{
		font-size: 18px;
		float: left;
		padding: 0;
		margin-left: 5px;
	}
	.about-description h3{
		font-size: 16px;
		height: 100px;
		padding: 20px;
	}
	.about-description p{
		height: 260px;
		padding: 20px;
	}
	.about-description button{
		word-spacing: 0;
		letter-spacing: 1px;
	}
	.posibilities:last-of-type{margin-bottom: 50px}

	/* header */
	.logo{margin-left: 30px;}
	.navbar-fixed .logo{margin-left: 15px !important;}
	.item-details-header, .item-details-header .container{
		height: 100%;
		padding-bottom: 15px;
	}
	.item-details-header .bottom-content{
		position: relative;
		bottom: 0;
		width: auto;
	}
	.item-details-header .bottom-content:after{width: 90%}
	
	.about-place{
		margin-top: 180px;
		border-top: 2px solid #fff;
	}
	.about-place:before{width: 85px;}
	.place-logo{
		display: block;
		margin-left: 28%;
		width: 30%;
		height: 80px;
	}
	.place-title{
		width: 85%;
		padding: 7px 10px 0 10px;
		display: block;
		top: 0;
		border-top: 2px solid;
	}
	.place-title .top-border-separator{
		width: calc((100% - 120px) / 2);
		right: -15px;
	}
	.place-title h2{
		font-size: 1em;
		line-height: 1.5;
		border: none;
		padding-bottom: 4px;
	}
	.place-title .header-top-tag-line{
		height: 65px;
		width: auto;
		padding-top: 0
	}
	.about-details{width: 85%}
	.about-details:before{display: none;}
	.top-socials{
		width: 15%;
		text-align: center;
		padding: 20px 0;
		border-top: none;
	}
	.about-details li:nth-child(2){
		border-left: none;
		letter-spacing: 1px;
		width: 50%;
		border-right: 2px solid #fff;
	}
	.about-details li {padding: 13px 4px}
	.about-details li:first-child{
		width: 100%;
		max-width: 100%;
		border-bottom: 2px solid #fff;
	}
	.top-phone-number:before{display: none;}
	.about-details li:last-child{
		letter-spacing: 3px;
		clear: none;
		width: 47%;
	}
	.social-sharing li{
		position: relative;
		width: 47%;
		margin: 0 3px;
	}
	.social-sharing a{
		position: static;
		margin: 0 10px;
		padding: 8px 0;
	}
	.social-sharing a:before{
		right: 0;
		left: 0;
	}
	.top-address{
		margin: 20px 0;
		text-align: right;
		padding: 0;
	}
	
	.place-facilities{top: 20px;}
	.place-facilities:before{width: 100%}
	.block-title h2{
		font-size: 1.714em;
		line-height: 1.6;
	}
	.block-title h3, .block-title h2{letter-spacing: 4px}
	.block-title:before, .block-title:after{width: 33.22%}
	.place-facilities li{
		font-size: 0.8em;
		width: 31.824%;
		padding: 0;
	}
	.place-facilities li i.fa{display: block;}
	.location-by-tag:after, .location-by-tag:before{width: 72%}
	.location-by-tag i{
		position: absolute;
		top: 50px;
		left: 39%;
	}

	.top-button-reservation a{
		top: 0;
		left: 0;
		width: 100%;
		margin: 20px 0;
	}
	header .bottom-content:after{
		width: 100%;
		left: 0;
	}
	.top-separator.long{
		width: 100%;
		margin-left: 0;
	}
	.top-button-reservation small{
		position: relative;
		top: 15px;
	}
	
	/** sections title **/
	.section-title-separator{
		visibility: hidden;
		margin: 85px 0 50px 0;
	}
	.form-name .section-title-separator{display: none;}
	.section-intro{
		width: 100% ;
		left: 0;
		margin: 0 auto;
		padding: 20px 0;
	}
	.section-intro h2{
		letter-spacing: 1px;
		padding: 18px 0;
		font-size: 28px;
	}
	.section-intro.vertical-line:before{top: -41px;}
	.section-intro h2:after{right: 0}
	.contact-us-page-header .section-intro{
		width: 100%;
		padding: 20px 15%;
	}
	#gallery .section-intro{padding: 20px 20% 0}
	.section-intro span small:before, .section-intro span small:after{width: 33%}
	.section-intro:before {height: 95%}

	/** Gallery **/
	.gallery-images img{width: 100%}

	/** About 4 columns **/
	.four-col{
		-moz-column-count: 1;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 20px;
	    -ms-column-count: 1;
	    -ms-column-gap: 20px;
	    height: auto;
	}

	/** News & Locations blockc**/
	.blog-intro-block,
	.location{
		max-width: 270px;
		margin: 0 auto 30px;
	}

	/** Events **/
	.events-panel{
		z-index: 1;
	}
	.event-description-content{
		margin-top: 0;
		width: 110%;
	}
	.event-description-content p{
		width: 100%;
		margin-bottom: 105px;
	}
	.event-description-content a{right: 0}
	.event-description-content button{
		top: auto;
		bottom: 50px;
	}
	.event-description{
		padding: 15px 12px 0 15px;
		overflow: hidden;
	}
	.event-description:before{height: 600px;}
	.events-panel .panel-title{width: 25%}

	/** contacts **/
	.contacts-wrapp:after{
		bottom: 55px;
		width: 93%;
	}
	.date-content{
		width: 80%;
		float: right;
		margin-right: -50px;
		margin-top: -20px;
	}
	.reservation-intro h2:after{right: -45px}

	.social-links li{margin-right: 13px;}
	/** places **/
	.highlights .section-intro{padding: 0 10%}
	.highlights .section-title-separator{margin-top: 70px}
	.same-region-places, .highlights{padding: 0 15px;}
	.place{margin: 10px auto 30px auto}
	.place img{width: 100%}
	.place-rating{
		width: 14%;
	}
	
	.place-with-gallery{
		height: 332px;
		left: 50%;
		margin-left: -131.5px;
	}
	i.tagline{
		padding: 17px 15px;
		width: 84.1%;
	}

	#item-map{margin-top: 20px;}
	
	/*** browse-place.html ***/
	div.cs-select{
		width: 100%;
		margin: 10px 0;
	}
	.prices-check{text-align: center;}
	.prices-check span{
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
	.checkbox{
		margin: 10px 15px !important;
		width: 90%;
	}
	.load-next-places_btn{letter-spacing: 2px}
	
	.browse-places{padding: 0 29px}
	#browse-map{
		position: relative !important;
		height: 500px;
		left: 0;
		border: 2px solid #333;
	}
	.infoBox .place{width: 100%}

	/*** place-blog-page.html ***/
	.blog-page-header .section-intro{
		margin: 0 auto;
		float: none;
	}
	.blog-page-header .section-intro h2{padding: 18px 0}
	.blog-page-header{ background-size: cover;}
	.published-date b:first-of-type, .published-date b:last-of-type{padding: 0 10px}
	.blog-page-header .left-separator, .blog-page-header .right-separator{display: none;}
	.quote-post .content-post:before{height: 60%}
	.quote-post .content-post{padding: 28px 30px 0 58px}
	.post2 .post-author, .gallery-post .post-author, .video-post .post-author{bottom: 42px}
	.web-post h2{font-size: 1.142em}
	.pagination .next_page, .pagination .prev_page{ letter-spacing: 0}
	.pagination i{margin: 5px 10px 0 10px}
	.pagination .prev_page:before{left: 16%}
	.pagination .next_page:before{right: 16%}
	.sidebar{padding: 0 15px}
	.instagram-menu a{
		height: 134px;
		width: 100%;
	}
	.instagram-menu img{height: 100%}
	.search-post button{margin-bottom: 30px}

	/*** place-blog-post.html ***/
	.blog-post-top-intro{height: auto;}
	.blog-post-top-intro:after,
	.blog-post-top-intro:before{display: none;}
	.blog-post-top-intro .post-logo{
		width: 100%;
		padding: 15px;
	}
	.blog-post-top-intro h2{
		width: 100%;
		padding: 15px;
		border-top: 2px solid #fff;
	}
	.blog-post-top-intro h2:before{display: none;}
	.blog-post-header li{
		border-right: 0;
		border-bottom: 2px solid #fff;
		width: 100% !important;
		padding: 23px 13px;
	}
	.blog-post-content .quote-post .content-post:before{height: 66%}
	.blog-post-content .quote-post .post-author{letter-spacing: 3px}
	.about-author .col-md-8{padding: 24px 30px 0 30px}
	.about-author p{height: auto;}
	.comment-time{margin-bottom: 30px}
	.comment-right p{
		height: auto;
		padding: 0 20px;
	}
	.comment .col-md-9{padding: 0}
	.comment-form .form-group{width: 100%;}
	.about-author{height: 100%;}

	/*** browse-place-without-map.html ***/
	.places-without-map .container{padding: 0 15px}
	.place-address:after{right: 14.5%}

	/*** special-offers.html ***/
	.special-offers-header .section-intro{
		width: 100%;
		padding: 20px 17%;
	}
	.special-offers-header{
		background-position: center;
		background-size: cover;
	}
	.offers-box{height: auto;}

	/*** contact-us.html ***/
	.contact-us-page-header .section-intro h2:after, .contact-us-page-header .section-intro h2:before{width: 20%}
	.submit-title-box:before{display: none;}
	.submit-title-box{width: 100%}

	/*** how it works.html ***/
	.work-page-header .section-intro{
		padding: 20px 20%;
		width: 100%;
		margin: 0;
	}
	.work-step{
		width: 100%;
		height: auto;
	}
	.step-icon, .title-number{
		border-right: none;
		border-bottom: 2px solid #333;
	}
	.step-title-box h2{
		display: block;
		text-align: center;
	}
	.step-icon, .step-title-box, .title-number, .text-block h4{
		width: 100%;
		height: auto;
	}
	.bottom-box{
		width: 100%;
		padding: 0;
		height: auto;
	}

	
	/*** page-404.html ***/
	.page-404{background-position: 53% 57%}
	.page-404-content .lost-content{height: auto;}
	.page-404-content .lost-content a{
		float: none;
		margin: 0;
		width: 100%;
		border: none;
	}
	.page-404-content .lost-content span{
		padding: 25px 20px 10px;
	}
	.page-404-content .lost-content a:before{display: none;}
	
}

@media only screen and (min-width : 561px) and (max-width : 767px){ /*** ------------------------------------------------------------------- ***/
	
	/* main menu button normal state*/
	.navbar-toggle{
		border-radius: 0;
		margin-top: 15px;
		margin-right: 15px;
	}
	.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover{ background-color: transparent; }
	.navbar .navbar-toggle .icon-bar{
		background-color: #fff;
		border-radius: 0;
		position: relative;
	}
	.navbar-header{margin-left: -30px !important}
	/*opened menu*/
	.navbar-collapse{display: none;}
	.navbar .navbar-toggle.collapsed .icon-bar:nth-child(3){visibility: visible;}
	.navbar .navbar-toggle .icon-bar:nth-child(3){visibility: hidden;}
	.navbar .navbar-toggle .icon-bar:nth-child(2){
		top: 7px;
		-webkit-transform: rotate(50deg);
		-ms-transform: rotate(50deg);
		-o-transform: rotate(50deg);
		transform: rotate(50deg);
	}
	.navbar .navbar-toggle.collapsed .icon-bar:nth-child(2){
		top: -2px;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.navbar .navbar-toggle .icon-bar:last-child{
		top: -5px;
		-webkit-transform: rotate(-50deg);
		-ms-transform: rotate(-50deg);
		-o-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
	.navbar .navbar-toggle.collapsed .icon-bar:last-child{
		top: 2px;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.navbar .navbar-toggle .icon-bar:nth-child(2),
	.navbar .navbar-toggle .icon-bar:last-child{
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	/* showing hidding content of navbar */
	.navbar-form, .menu-top-categories{
		float: none !important;
		width: 100%;
	}
	.navbar-form{
		padding: 10px;
	    margin-top: 10px;
	    margin-left: 0;
	    margin-right: 0;
	    border: 1px solid #ececec;
	}
	.navbar-form button{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.menu-top-categories ul{
		width: 100%;
		margin-bottom: 20px;
	}
	.menu-top-categories li{
		float: none;
		margin-right: -5px;
	}
	.menu-top-categories h6{
		width: 100%;
		padding: 15px 0;
		text-align: center;
	}
	.menu-category a{
		padding: 0;
	    line-height: 1.5;
	    margin: 0;
	    width: 54px;
	    border-top: 1px solid #ececec;
	    border-bottom: 1px solid #ececec;
	}

	/* main menu button (fixed navbar) normal state*/
	.navbar-fixed .navbar-toggle{
		border-color: #333;
		margin-top: 15px;
	}
	.navbar-fixed .navbar-toggle .icon-bar{ background-color: #333; }
	.navbar-fixed{overflow: visible;}
	.navbar-fixed .navbar-header{margin-left: -10px !important}

	

	/* main menu */
	.navbar-collapse{
		position: relative;
	    margin-right: -330px;
	    max-height: 1900px !important;
	    height: 1500px;
	    background: #fff;
	    border-top: 2px solid #333;
	    margin-top: 10px;
	    z-index: 9;
	    -webkit-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	
	.navbar-nav{margin-top: 0}
	.navbar-collapse.pull-right,
	.navbar-nav.pull-right{
		float: none !important;
	    width: 100%;
	    height: 100%;
	    overflow: scroll;
	}
	.navbar-nav a{
		color: #333 !important;
		line-height: 3.6 !important;
	}
	.navbar-default .addPlace a{background: #f4f400}

	/* first-page header */

	.front-page-intro h2{
		letter-spacing: 1px;
		display: block;
	}
	.front-page-intro h2:after, .front-page-intro h2:before{width: 35%}
	.top-tag-line li:first-child i.fa{margin-right: 3px}
	.top-tag-line li:last-child i.fa{margin-left: 3px}
	.top-tag-line b{letter-spacing: 2px;}
	.front-page-intro button.btn{top: 10px}
	.front-page-intro .small-text:last-of-type{background-size: 25%}
	.front-page-intro .front-top-categories{
		width: 100%;
		border: none;
	}
	.front-page-intro .front-top-categories li{
		float: none;
		margin-right: -5px;
		border: none;
	}
	.front-top-categories a{
		padding: 8px 0;
	    width: 60px;
	    border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		border-top: 2px solid #fff;
	}
	.front-page-intro .front-top-categories li:first-child a{border-left: 2px solid #fff;}
	.about-description h3:after, .about-description p:after{display: none;}
	.about-description button{
		word-spacing: 0;
		letter-spacing: 1px;
	}
	.posibilities:last-of-type{margin-bottom: 50px}

	/* header */
	.logo{margin-left: 30px;}
	.navbar-fixed .logo{margin-left: 15px !important;}
	.item-details-header, .item-details-header .container{height: 100% }
	.item-details-header .bottom-content{
		position: relative;
		bottom: 0;
		width: auto;
	}
	.item-details-header .bottom-content:after{width: 95%}
	.separator{display: none !important;}
	.section-intro h2{
		width: 100%;
		font-size: 26px;
	}
	.section-intro.vertical-line:before{height: 184px;}
	
	.about-place{
		margin-top: 180px;
	}
	.about-place:before{width: 85px;}
	.place-title .top-border-separator{
		width: calc((100% - 40px) / 2);
		right: -15px;
	}
	.place-title h2{
		font-size: 1.8em;
		line-height: 1.5;
		border: none;
		padding-bottom: 14px;
	}
	.about-details{width: 88%}
	.about-details:before{display: none;}
	.top-socials{
		width: 12%;
		text-align: center;
		padding: 20px 0;
		border-top: 2px solid #fff;
	}
	.about-details li:nth-child(2){
		border-left: none;
		letter-spacing: 1px;
		width: 50%;
		border-right: 2px solid #fff;
	}
	.about-details li {padding: 13px 4px}
	.about-details li:first-child{
		width: 100%;
		max-width: 100%;
		border-bottom: 2px solid #fff;
	}
	.top-phone-number:before{display: none;}
	.about-details li:last-child{
		letter-spacing: 3px;
		clear: none;
		width: 47%;
	}
	.social-sharing li{
		position: relative;
		width: 47%;
		margin: 0 3px;
	}
	.social-sharing a{
		position: static;
		margin: 0 10px;
		padding: 8px 0;
	}
	.social-sharing a:before{
		right: 0;
		left: 0;
	}
	.top-address{
		margin: 20px 0;
		padding: 0;
	}
	.top-separator.short{width: 11%}

	.place-facilities{top: 20px;}
	.place-facilities:before{width: 100%}
	.block-title h2{
		font-size: 1.714em;
		line-height: 1.6;
	}
	.block-title h3, .block-title h2{letter-spacing: 4px}
	.block-title:before, .block-title:after{width: 33.22%}
	.place-facilities li{
		font-size: 0.8em;
		width: 31.824%;
		padding: 0;
	}

	.top-button-reservation a{
		position: absolute;
		top: -5px;
		right: 0;
		width: 30%;
		height: 50px;
		margin: 20px 0;
		line-height: 4.2;
	}
	header .bottom-content:after{
		width: 100%;
		left: 0;
	}
	.top-separator.long{
		width: 100%;
		margin-left: 0;
	}
	.top-button-reservation small{
		position: relative;
		top: 15px;
	}
	
	/** sections title **/
	.section-title-separator{visibility: hidden;}
	.form-name .section-title-separator{display: none;}
	.section-intro{
		width: 100%;
		left: 0;
		margin: 0 auto;
		padding: 20px 110px !important;
	}
	.section-intro h2:after{right: 0}
	.contact-us-page-header .section-intro{width: 100%}
	#gallery .section-intro{padding: 20px 180px 0 180px !important}
	.same-region-places .section-intro{padding: 20px 135px !important}
	.location, .location-by-tag{
		max-width: 270px;
		margin: 0 auto 30px;
	}

	/** Gallery **/
	.gallery-images{margin-top: 20px}
	.gallery-images img{width: 100%}

	/** About 4 columns **/
	.four-col{
		-moz-column-count: 1;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 20px;
	    -ms-column-count: 1;
	    -ms-column-gap: 20px;
	    height: auto;
	}

	/** Events **/
	.events-panel{
		margin-top: 20px;
		z-index: 1;
	}
	.event-description-content{
		margin-top: 0;
		width: 110%;
	}
	.event-description-content p{
		width: 100%;
		margin-bottom: 105px;
	}
	.event-description-content a{right: 25px;}
	.event-description-content button{
		top: auto;
		bottom: 50px;
	}
	.event-description{
		padding: 15px 12px 0 15px;
		overflow: hidden;
	}
	.event-description:before{height: 600px;}
	.events-panel .panel-title{width: 25%}

	.blog-intro-block{
		max-width: 270px;
		margin: 0 auto 30px;
	}

	/** contacts **/
	#reservation .section-intro{
		padding: 20px 110px 0
	}
	.work-time{margin-top: 20px}
	.contacts-wrapp:after{
		bottom: 55px;
		width: 93%;
	}
	.date-content{
		width: 163px;
		float: right;
		margin-right: 0;
	}
	.reservation-intro{margin-top: 20px}
	.reservation-intro h2:after{right: -45px}

	.social-links li{margin-right: 13px;}
	/** places **/
	.highlights .section-intro{padding: 0 18px}
	.highlights .section-title-separator{margin-top: 70px}
	.same-region-places, .highlights{padding: 0 15px;}
	.place{
		margin: 0 auto 30px;
	}
	.place img{width: 100%}
	.place-rating{width: 37px;}
	.place-address i{
		border-left: 2px solid #333;
		width: 39px;
	}
	.place-address:after{display: none;}

	.place-with-gallery{
		height: auto;
		left: 50%;
    	transform: translateX(-50%);
	}
	i.tagline{
		padding: 17px 15px;
		width: 221px;
	}
	
	/*** browse-place.html ***/
	div.cs-select{
		width: 100%;
		margin: 10px 0;
	}
	.prices-check{text-align: center;}
	.prices-check span{
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
	.checkbox{
		margin: 10px 15px !important;
		width: 90%;
	}
	.load-next-places_btn{letter-spacing: 2px}

	.browse-places{padding: 0 15px;}

	#browse-map{
		position: relative !important;
		height: 500px;
		left: 0;
		border: 2px solid #333;
	}
	.infoBox .place{width: 100%}

	/*** place-blog-page.html ***/
	.blog-page-header{
		background-size: cover;
	}
	.blog-page-header .section-intro{
		margin: 0 auto;
		float: none;
	}
	.published-date b:first-of-type, .published-date b:last-of-type{padding: 0 10px}
	.blog-page-header .left-separator, .blog-page-header .right-separator{display: none;}
	.quote-post .content-post:before{height: 60%}
	.quote-post .content-post{padding: 28px 30px 0 58px}
	.post2 .post-author, .gallery-post .post-author, .video-post .post-author{bottom: 42px}
	.web-post h2{font-size: 1.142em}
	.pagination .next_page, .pagination .prev_page{ letter-spacing: 0}
	.pagination i{margin: 5px 10px 0 10px}
	.pagination .prev_page:before{left: 16%}
	.pagination .next_page:before{right: 16%}
	.sidebar{padding: 0 15px}
	.search-post button{margin-bottom: 30px}

	/*** place-blog-post.html ***/
	.blog-post-top-intro{height: auto;}
	.blog-post-top-intro .post-logo{
		width: 100%;
		padding: 15px;
	}
	.blog-post-top-intro h2{
		width: 100%;
		padding: 15px;
		border-top: 2px solid #fff;
	}
	.blog-post-top-intro h2:before{display: none;}
	.blog-post-header li{
		border-right: 0;
		border-bottom: 2px solid #fff;
		width: 100% !important;
		padding: 23px 13px;
	}
	.blog-post-content .quote-post .content-post:before{height: 66%}
	.blog-post-content .quote-post .post-author{letter-spacing: 3px}
	.about-author .col-md-8{padding: 24px 30px 0 30px}
	.about-author p{height: auto;}
	.comment-time{margin-bottom: 30px}
	.comment-right p{
		height: auto;
		padding: 0 20px;
	}
	.comment .col-md-9{padding: 0}
	.comment-form .form-group{width: 100%;}
	.about-author{height: 100%;}
	.instagram-menu a{
		width: 100%;
		height: 140px;
		overflow: hidden;
	}
	.instagram-menu img{object-fit: cover;}

	/*** browse-place-without-map.html ***/
	.places-without-map .container{padding: 0 15px}

	/*** special-offers.html ***/
	.special-offers-header .section-intro{
		width: 100%;
		padding: 20px 37% !important;
	}
	.special-offers-header .section-intro h2:after{right: 9%}
	.special-offers-header{
		background-position: center;
		background-size: cover;
	}
	.offers-box{height: auto;}
	.offers-box img{width: 100%;}

	/*** contact-us.html ***/
	.contact-us-page-header .section-intro h2:after, .contact-us-page-header .section-intro h2:before{width: 20%}
	.submit-title-box:before{display: none;}
	.submit-title-box{width: 100%}

	/*** how it works.html ***/
	.work-page-header .section-intro{
		margin: 0;
		width: 100%;
	}
	.work-step{
		width: 100%;
		height: auto;
	}
	.step-icon, .title-number{
		border-right: none;
		border-bottom: 2px solid #333;
	}
	.step-icon, .step-title-box, .title-number, .text-block h4{
		width: 100%;
		height: auto;
	}
	.step-icon:before{left: 35%;}
	.step-title-box h2{
		display: block;
		text-align: center;
	}
	.bottom-box{
		width: 100%;
		padding: 0;
		height: auto;
	}

	
	/*** page-404.html ***/
	.page-404{background-position: 53% 57%}
	.page-404-content .lost-content{height: auto;}
	.page-404-content .lost-content a{
		float: none;
		margin: 0;
		width: 100%;
	}
	.page-404-content .lost-content span{
		padding: 10px 20px 12px;
	}
	.page-404-content .lost-content a:before{display: none;}
	.page-404-content{
		top: 48%;
		margin-top: 0;
	}

}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px){ /** --------------------------------------------------------------- **/

	/*menu*/
	.navbar-brand{ top: 25px; }

	.navbar-toggle.collapsed{

	}
	.navbar-toggle.collapsed span:nth-child(3){ visibility: visible;}
	.navbar-toggle.collapsed span:nth-child(2){
		top: 0;
		transform: rotate(0);
	}
	.navbar-toggle.collapsed span:last-child{
		top: 0;
		transform: rotate(0);
	}

	.navbar-toggle .icon-bar{
		background: #333;
		position: relative;
		transition: all 0.2s ease-in-out;
	}

	.navbar-toggle{
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		border: 1px solid #333;
		border-radius: 0;
	}
	
	.navbar-toggle span:nth-child(3){
		visibility: hidden;
	}
	.navbar-toggle span:nth-child(2){
		top: 6px;
		transform: rotate(45deg);
	}
	.navbar-toggle span:last-child{
		top: -6px;
		transform: rotate(-45deg);
	}

	.navbar-collapse{display: none;}
	
	.logo{
		z-index: 99;
		margin-left: -15px !important;
	}
	.navbar-fixed{ height: 62px;}
	
	.navbar-form{
		position: absolute;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		width: 35%;
		padding: 10px 10px 0 10px;
		border-top: 1px solid #ececec !important;
		border-bottom: 1px solid #ececec !important;
	}
	.navbar-form input{padding-top: 0}
	.navbar-form button{
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.menu-top-categories{
		position: absolute;
	    top: 150px;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 30%;
	    text-align: center;
	}
	.menu-top-categories ul{
		width: auto;
		margin-bottom: 20px;
	}
	.menu-top-categories ul li{
		padding: 0;
		margin-right: -5px;
	}
	.menu-top-categories h6{
		width: auto;
		display: inline-block;
		padding: 15px;
		text-align: center;
		float: none;
	}
	.menu-category a{
		padding: 4px 10px;
		line-height: 1.5;
		margin: 0 3px;
		border-top: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
	}

	/* main menu */
	.navbar-collapse.collapse{
		position: absolute;
		top: 100px;
		background: #fff;
		left: 0;
		width: 100%;
		height: 100vh !important;
		z-index: 9;
		border-bottom: 1px solid #ececec !important;
	}
	
	.navbar-nav{
		position: absolute;
		left: 20px;
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	.navbar-nav a{
		color: #333 !important;
		line-height: 2.6 !important;
	}
	.navbar-fixed .addPlace a{
		background: #f4f400;
		padding: 5px 10px !important;
	}

	/* first-page header */
	.front-page-intro {
		height: auto !important;
		top: 30%;
	}
	.front-page-intro h2{
		letter-spacing: 1px;
		display: block;
	}
	.front-page-intro h2:after, .front-page-intro h2:before{width: 35%}
	.top-tag-line li:first-child i.fa{margin-right: 3px}
	.top-tag-line li:last-child i.fa{margin-left: 3px}
	.top-tag-line b{letter-spacing: 2px;}
	.front-page-intro .small-text:last-of-type{background-size: 25%}
	.front-top-categories a{padding: 9px 18px;}
	.about-description button{
		word-spacing: 0;
		letter-spacing: 1px;
	}
	.posibilities:last-of-type{margin-bottom: 50px}

	/* header */
	header, header .container{height: 100%}
	header .bottom-content{
		position: relative;
		bottom: 0;
		width: auto;
	}
	.location-name{
		font-size: 13px;
		padding: 18px 0 15px 15px;
	}
	.about-place, .place-facilities{margin-top: 180px}
	.about-place:before{width: 30%;}
	.place-logo{
		height: auto;
		width: 20%;
	}
	.place-title{
		padding: 0 20px;
		width: 77%;
	}
	.place-title .top-border-separator{
		width: calc((100% - 105px ) / 2);
	}
	.place-title h2{
		font-size: 1em;
		line-height: 1.5;
		border: none;
		padding-bottom: 4px;
	}
	.place-title h2:before{width: 92%}
	.place-title .header-top-tag-line{
		height: 55px;
		width: 89%;
		padding-top: 0
	}
	.about-details{width: 87%}
	.top-socials{
		width: 13%;
		text-align: center;
		padding: 20px 0;
	}
	.about-details li:nth-child(2){
		border-left: none;
		letter-spacing: 1px;
		float: left;
		width: 50%;
		border-right: 2px solid #fff;
	}
	.about-details li,
	.about-details li:first-child{padding: 12px 10px}
	.about-details li:first-child{
		width: 100%;
		max-width: 100%;
		float: left;
		border-bottom: 2px solid #fff;
	}
	.about-details:before{display: none;}

	.top-phone-number:before{display: none;}
	.about-details li:last-child{letter-spacing: 3px}
	.social-sharing li{
		position: relative;
		width: 45%;
		margin: 0 5px;
	}
	.social-sharing a{
		position: static;
		margin: 0 10px;
		padding: 10px 0;
	}
	.social-sharing a:before{
		left: 0;
		right: 0;
	}
	.top-address{
		text-align: right;
	}

	.block-title h2{
		font-size: 1.714em;
		line-height: 1.6;
	}
	.place-facilities ul{margin: 25px 0}
	.place-facilities li{
		font-size: 0.8em;
		padding: 0;
		width: 31.824%;
	}
	.place-facilities li i.fa{display: block;}

	.top-button-reservation a{
		position: absolute;
		top: 10px;
		right: 0;
		width: 35%;
	}
	.top-button-reservation{margin-top: 25px;}
	.place-facilities:before{bottom: -35px}
	header .bottom-content:after{
		width: 100%;
		left: 0;
	}
	.item-details-header .bottom-content:after{width: 95%}
	.top-separator.long{
		width: 63%;
		margin-left: 0;
	}
	.top-button-reservation small{
		position: relative;
		top: 8px;
	}
	
	/** sections title **/
	
	.section-intro h2{
		letter-spacing: 1px;
	}
	.section-intro span small{
		padding: 0 10px;
	}
	.section-intro.long-border h2:after, .section-intro.long-border h2:before,
	.section-intro h2:after, .section-intro h2:before {width: 20%;}
	.section-intro h2:after{right: 0}
	.section-intro span small:before, .section-intro span small:after{width: 28% !important}
	#events .section-title-separator, #reservation .section-title-separator,
	#contact .section-title-separator {margin: 119px 0 35px 0}

	.section-title-separator hr{visibility: hidden;}

	.location-by-tag:after, .location-by-tag:before{ width: 66%;}
	.location-by-tag i{margin-right: 57%}

	/** Gallery **/
	.gallery-images{margin-top: 35px}
	.gallery-images img{width: 100%}
	
	#gallery .section-intro-margin{margin-top: 35px}

	.browse-places{margin-top: 140px;}

	/** About 4 columns **/
	.four-col{
		-moz-column-count: 2;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 20px;
	    -ms-column-count: 2;
	    -ms-column-gap: 20px;
	    height: auto;
	}

	/** Events **/
	.events-panel{margin-top: 20px}
	.event-description-content{
		margin-top: 0;
	}
	.event-description-content p{
		width: 100%;
		margin-bottom: 105px;
	}
	.event-description-content a{right: 20px}
	.event-description-content button{
		top: auto;
		bottom: 50px;
	}
	.event-description{padding: 15px 12px 0 15px}
	.event-description:before{height: 600px;}
	.events-panel .panel-title{width: 15%}

	/** reservation form **/
	.reservation-intro{margin-top: 30px}
	.form-name .section-title-separator{display: none;}

	/** contacts **/
	.contacts-wrapp:after{
		bottom: 30px;
		width: 98%;
	}
	.date-content{
		position: relative;
		top: -30px;
		width: 34%;
		float: right;
		margin-right: 0;
	}
	.work-time{padding: 20px;}
	.work-address, .work-time{margin-top: 30px}
	.work-time li:nth-child(2):before{left: -20px;}
	.reservation-intro h2:after{right: -45px}
	.work-address h2{margin-bottom: 18px}
	.work-address h2:before{bottom: -9px}
	.work-address a, address{margin-bottom: 5px}
	.social-links{margin-top: 0}
	.social-links a{
		width: 15px;
		height: auto;
	}

	/** places **/
	.same-region-places, .highlights{padding: 0 15px;}
	.place{
		margin: 30px auto;
	}
	.place img{width: 100%}
	.place-rating{
		top: -8px;
		width: 14%;
	}
	.blog-intro-block{
		max-width: 270px;
		margin: 0 auto 30px;
	}

	.place-with-gallery{ 
		top: 30px;
		left: 50%;
		margin-left: -131px;
	}
	i.tagline{width: 72%}
	.place-address:after{right: 17%}

	/*** browse-place.html ***/
	.load-next-places_btn{letter-spacing: 2px}


	#browse-map{
		position: relative !important;
		width: 95%;
		height: 800px;
		left: 0;
		margin: 0 auto 30px auto;
		border: 2px solid #333;
	}

	/*** place-blog-page.html ***/
	.blog-page-header{ background-size: cover;}
	.blog-page-header .section-intro h2{padding: 18px 0px 16px 0px;}
	.quote-post .content-post:before{height: 60%}
	.quote-post .content-post{padding: 28px 30px 0 58px}
	.post2 .post-author, .gallery-post .post-author, .video-post .post-author{bottom: 42px}
	.web-post h2{font-size: 1.142em}
	.pagination .next_page, .pagination .prev_page{ letter-spacing: 0}
	.pagination i{margin: 5px 20px 0 20px}
	.pagination .prev_page:before{left: 16%}
	.pagination .next_page:before{right: 16%}
	.sidebar{padding: 0 15px}
	.search-post button{margin-bottom: 30px}
	.categories-menu{margin-right: 30px}
	.widget,
	.instagram-menu{
		width: 47%;
		float: none;
		display: inherit;
		margin: 0 auto 30px;
	}
	
	.instagram-menu a{
		width: 100%;
		height: 145px;
	}
	.instagram-menu img{height: 100%}

	/*** place-blog-post.html ***/
	.blog-post-top-intro .post-logo{
		width: 18%;
		padding: 15px;
		height: 127px;
		display: table;
	}
	.blog-post-top-intro .post-logo span{
		display: table-cell;
		vertical-align: middle;
		top: 0;
	}
	.blog-page-header .section-intro{
		margin: 35px auto 30px;
	}
	.blog-page-header .left-separator, .blog-page-header .right-separator{
		width: 42.675%;
	}
	.published-date b:first-of-type, .published-date b:last-of-type{padding: 0 10px}

	.blog-post-top-intro h2{
		width: 80%;
		padding: 22px;
		border-left: 2px solid #fff;
	}
	.blog-post-top-intro h2:before{display: none;}
	.blog-post-header ul{
		position: relative;
		top: 0px;
		display: inline-block;
		width: 100%;
		text-align: center;
		float: left;
	}
	.blog-post-header li{
		padding: 33px 7px;
		float: left;
		letter-spacing: 3px !important;
	}
	.blog-post-content .quote-post .content-post:before{height: 66%}
	.blog-post-content .quote-post .post-author{letter-spacing: 3px}
	.author-socials{margin-bottom: 10px;}
	.about-author .col-md-8{padding: 24px 30px 0 30px}
	.about-author p{height: auto;}
	.about-author h4{margin-bottom: 28px;}
	.about-author h4:before{bottom: -16px}
	.comment-time{margin-bottom: 30px}
	.comment-right p{
		height: auto;
	}
	.comment .col-md-9{padding: 0;}
	.comment-form .form-group{width: 100%;}
	.blog-post-top-intro:before,
	.blog-post-top-intro:after{display: none;}

	/*** browse-place-without-map.html ***/
	.places-without-map .container{padding: 0 15px}
	.places-without-map .showing-result-block{margin-top: 20px;}

	/*** special-offers.html ***/
	.special-offers-header{
		background-position: center;
		background-size: cover;
	}
	.special-offers-header .section-intro span{padding-left: 35px}
	.offers-box{height: auto;}
	.special-offers-header .section-title-separator hr, .special-offers-header .section-intro h2{display: block;}
	
	/*** contact-us.html ***/
	.contact-us-page-header .section-intro h2:after, .contact-us-page-header .section-intro h2:before{width: 20%}
	.submit-title-box:before{display: none;}
	.submit-title-box{width: 100%}

	/*** how it works.html ***/
	
	.work-step{
		width: 49%;
		height: auto;
	}
	.step-icon, .title-number{
		border-right: none;
		border-bottom: 2px solid #333;
	}
	.step-icon, .step-title-box, .title-number, .text-block h4{
		width: 100%;
		height: auto;
	}
	.bottom-box{
		width: 100%;
		padding: 0;
		height: auto;
	}
	.bottom-box a{
		display: inline-block;
		padding: 0 30px;
	}

	/** page-404.html **/
	.page-404{background-position: 50% 63%}

}

@media only screen and (min-width : 768px) and (max-width : 1280px) and (orientation: landscape) {
	
	aside.browse-places{margin-top: 130px}
	.filters-block .cs-select{
		width: 100%;
		margin: 15px 0;
	}
	.prices-check span{display: none;}
	.checkbox{width: 33.6%;}
	aside.browse-places .col-sm-6.col-md-6{width: 100%;}
	aside.browse-places .place{
		margin: 0 auto 30px;
	}
	aside.browse-places .place-with-gallery{
		left: 50%;
		transform: translateX(-50%);
	}
	.places-without-map .container{margin-top: 150px;}

}

/* Monitors ( low resolution ) ----------- */
@media only screen and (min-width : 1024px) and (max-width : 1500px){
	/** top bar fixed menu **/



	/** how it works **/
	.step-icon{width: 25%}
	.step-title-box{width: 75%}
	.text-block h4{width: 75%}
	.bottom-box{width: 100%}

}

@media only screen and (min-width: 1024px) and (max-height: 700px){

	.front-page-intro h2{
		display: block;
	}
	.front-page-intro .col-md-4{text-align: center;}
	.front-page-intro h2:after, .front-page-intro h2:before{width: 120px;}
	.top-tag-line li{
		font-size: 8px;
		padding: 0;
	}
	.front-page-intro .small-text:last-of-type{background-size: 20%;}
	.front-top-categories a{padding: 7px 13px 7px 14px;}
	.location-by-tag span{padding: 8px 5px 9px;}
	.places-without-map .col-md-3.col-sm-6,
	.highlights .col-md-3.col-sm-6,
	.same-region-places .col-md-3.col-sm-6{width: 30%;}
	.browse-places, .places-without-map .container{margin-top: 150px;}
	.filters-block .cs-select{
		width: 100%;
		margin: 0 0 30px 0;
	}
	.prices-check span{display: none;}
	.checkbox{width: 33.21%;}
	.browse-places .col-md-6{width: 100%;}
	.widget_tag_cloud a{padding: 11px 5px;}
	.widget_search input{font-size: 12px;}
	.blog-post-header li{padding: 20px;}
	.blog-post-top-intro h2, .place-title h2{font-size: 23px;}
	.submit-title-box{width: 100%;}
	.item-details-header .bottom-content{bottom: 30px;}
	.place-title h2, .place-title .header-top-tag-line{width: 89%;}
	.about-details{width: 88%;}
	.about-details li:nth-child(2){
		width: 39%;
		line-height: 15px;
	}
	.about-details:before{height: 46px;}
	.place-facilities li{
		width: 31.824%;
		font-size: 12px;
	}
	.top-button-reservation a{top: -3px;}
	.work-step{height: 200px;}
	.offers-box h5{
		font-size: 12px;
		letter-spacing: 1px;
	}
	.page-404-content .lost-content h2{font-size: 23px;}
	.page-404-content .lost-content a{
		top: 9px;
		width: 40%;
		padding: 13px;
	}
	.page-404-content .lost-content span{padding: 30px 0;}

}














